<!-- The grid. Middle columns is used to show all information-->
<div class="container">
  <div class='item-title app-title'>
      Contacts App
  </div>
  
  <!-- the add new contact form-->
  <app-add-contact-form class="item-add-container"></app-add-contact-form>

  <div class="item-separator">
      ------------- OR SEARCH -------------
  </div>
  <!-- the search field -->

  <!-- this is used to search and display the contacts either all contacts, searched, or newly added-->
  <app-contact-list-container class="contacts-container"></app-contact-list-container>
</div>